<agm-map [hidden]="loading" [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom"
  [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>

  <!-- Current Location -->
  <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng"
    [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'
    (markerClick)="closeMarker(location.marker)">
    <agm-info-window>
      <strong>You Are Here</strong>
    </agm-info-window>
  </agm-marker>


  <!-- Mogo Markers -->
  <agm-marker *ngFor="let location of mogoLocations" [title]="location.attributes.name"
    [longitude]="location.geometry.x" [latitude]="location.geometry.y" [iconUrl]="icon"
    (markerClick)="showDirection(location.geometry)">


    <!-- Info Window -->
    <agm-info-window>
      <strong>{{ location.attributes.name }}</strong>
      <p>Docks: {{ location.attributes.docks }}</p>
      <p>Distance: {{ location.distance }}</p>
    </agm-info-window>

  </agm-marker>


  <!-- Marker Direction Visual -->
  <agm-direction *ngIf="origin && destination" [origin]="origin" [destination]="destination"></agm-direction>

</agm-map>