agm-map {
    height: calc(100vh - 64px);
    width: 1000px;
}

strong {
    font-weight: 800;
}

span {
    font-weight: 400;
    text-transform: uppercase;
}

#myPanel {
    border-left: 3px solid black;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}