<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
    <mat-toolbar class="nav">
    
    <a [routerLink]="['/home-page']" [routerLinkActive]="'is-active'">
    <mat-icon  aria-hidden="false" aria-label="home">home</mat-icon></a>

    <span>Move It</span>    

    <a [routerLink]="['/results']" [routerLinkActive]="'is-active'">
    <mat-icon aria-hidden="false" aria-label="favorite">commute</mat-icon></a>

    </mat-toolbar>
</header>
<router-outlet></router-outlet>
