<!-- <app-map></app-map> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link _ngcontent-yup-c0="" href="https://fonts.googleapis.com/css?family=Tomorrow&amp;display=swap" rel="stylesheet">


<header>
    <mat-toolbar class="nav">
    
    <a [routerLink]="['/home-page']" [routerLinkActive]="'is-active'">
    <mat-icon  aria-hidden="false" aria-label="home">home</mat-icon></a>

    <span>Move It</span>    

    <a [routerLink]="['/results']" [routerLinkActive]="'is-active'">
    <mat-icon aria-hidden="false" aria-label="favorite">directions_bike</mat-icon></a>

    </mat-toolbar>
</header>
<loader></loader>
<router-outlet></router-outlet>
