<!-- form needs angular material added for styling -->
<div class="form-container">
	<form #locationForm="ngForm" (ngSubmit)="sendLocation(locationForm.value)">

		<div class="checkbox">
			<mat-checkbox type="checkbox">
				Would you like to share your location?
			</mat-checkbox>
		</div>
				
		<p>or</p>

		<mat-form-field>
			<label for="street">
				<input autocomplete="off" matInput placeholder="Address" type="text" id="street" name="street" ngModel>
			</label>
		</mat-form-field>

		<button mat-flat-button>Submit</button>
	</form>
</div>