<div class="form-box">
        <form>
        
            <mat-checkbox type="checkbox"
            [(ngModel)]="toggleLocation">
            Would you like to use your current location?
            </mat-checkbox>

            <p>OR</p>

            <mat-form-field >
                    <mat-label>What is your location?</mat-label>
                    <input matInput placeholder="Enter the address">
            </mat-form-field>

            <button mat-button routerLink="/results">Submit</button>
            
        </form>
</div>
